html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

.nav_bar {
    background: rgba(255,255,255,0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    backdrop-filter: blur(3px); 
}

container {
    margin: 0 auto;
    max-width: 1024px;
}

.nav_container {
    padding: 0 50px;
}

div {
    display: block;
}

.nav {
    display: flex;
    flex-direction: row;
    font-size: 35px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

a {
    background-color: transparent;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
nav ul li {
    display: inline-block;
    margin-right: 1em;
    font-size: 0.75em;
}
li {
    text-align: -webkit-match-parent;
}
nav ul {
    text-align: center;
    padding: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

h2 {
    display: block;
    margin: 0;
    font: bold;
    color: dimgray;
    text-align: center;
}

img {
    display: block;
    max-width:230px;
    max-height:250px;
    width: auto;
    height: auto;
    border: 0;  
    padding: 15px; 
    display: block;
    margin: auto;
}

p {
    font-size: 18px;
    font-family: helvetica;
    color: LightSeaGreen;
    text-align: center;
} 
h3.funParagraph {
    font-size: 45px;
    text-align: center;
    font-family: helvetica;
    font-weight: bold;
    background-color: transparent;
    color: rgb(141, 22, 22);
}

#testP{
    color: powderBlue;
    font-size: 25px;
    text-align: center;
 }

 footer {
     text-align: left;
     padding: 3em;
 }

 