html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    scroll-padding-top: 100px;
}
/* .header{
    position: fixed;
    left:0;
    right:0;
    top:0;
}
html body {
 padding-top: 65px;
} */

main {
    max-width: 100%;
    margin: 0 auto;
}

.nav_bar {
    background: rgba(255,255,255,0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    backdrop-filter: blur(3px); 
}

container {
    margin: 0 auto;
    margin-inline-end: auto;
    margin-block-end: auto;
    max-width: 1024px;
}

.nav_container {
    padding: 0 50px;
}

div {
    display: block;
}

.nav {
    display: flex;
    flex-direction: row;
    font-size: 35px;
    justify-content: space-between;
    align-items: center;
}

body {
    margin: 8px;
    background-color: rgba(137, 43, 226, 0.192);
    height: 100%;
    overflow: hidden;
    padding-top: 44px;
    padding-bottom: 25px;
}


#space {
    margin-top: 70px;
    margin-inline-end: 0;
    padding: 0;
}

a {
    background-color: transparent;
    /* display: inline-block; */
    display: fixed;
    margin-top: 5000px;
    /* top: -200px; */
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

nav ul li {
    display: inline-block;
    margin-right: 1em;
    font-size: 0.75em;
}
li {
    text-align: -webkit-match-parent;
    font-size: 18px;
}
nav ul {
    text-align: center;
    padding: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

h2 {
    display: block;
    font: bold;
    color: dimgray;
    text-align: center;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width:230px;
    max-height:250px;
    width: auto;
    height: auto;
    border: 0;  
    padding: 15px; 
    margin: auto;
}
section {
    position:relative; 
    margin: 0; 
    padding: 0; 
    display: block;
    margin-top: 50px; /* whatever offset this needs to be */
}
p {
    font-size: 18px;
    font-family: helvetica;
    color: LightSeaGreen;
    text-align: center;
    margin: 0;
    padding: 0;
    display: block;
} 

#testP{
    color: rgb(66, 176, 190);
    font-size: 25px;
    text-align: center;
 }

 #mainHeading {
    color: red;
 }

 footer {
     text-align: left;
     padding: 3em;
 }

 
.a_container {
    padding: 0 50px;
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}
.border {
    display: inline-block;
    position: relative;
    padding: calc(var(--space-16) * 2);
    border-radius: var(--border-radius-4);
    margin-top: 50px;
}
.funParagraph {
    display: block;
    margin: auto;
    font-size:18px;
    text-align: center;
    font-family: helvetica;
    font-weight: bold;
    background-color: transparent;
    color: rgb(141, 22, 22);
}