html {
    scroll-behavior: smooth;
}

h2 {
    display: block;
    margin: 0;
    font: bold;
    
    color: dimgray;
    text-align: center;
}

img {
    width: 250px;
    height: 250px;  
    padding: 15px; 
    object-position: center; 
}

p {
    font-size: 18px;
    font-family: helvetica;
    color: LightSeaGreen;
    text-align: center;
} 

#cool-text{
    color: powderBlue;
    font-size: 25px;
    text-align: center;
 }

element 

id